# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Poomon\Desktop\Text Book\EDCI 335\Materials\Unit 3 Practice Problems\Basic Python Variables\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
